<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.admin.bempadmin">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Bemp">
        <activity
            android:name=".view.activity.DaftarAdminActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.DaftarPesertaActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.DaftarPesertaLombaActivity"
            android:exported="true" />
        <activity
            android:name=".view.activity.DetailLombaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TambahLombaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TambahPrestasiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DetailBeritaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TambahBeritaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.KategoriBeritaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UbahPasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TentangAplikasiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DivisiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.TambahOrganisasiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.StrukturOrganisasiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.EditBioStrukturOrganisasiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ProfilActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.PrestasiActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LombaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BeritaActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.RegisterAdminActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.LandingPageActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>